body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .section {
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.header-container {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .page-navigation {
    margin-right: 121px;
  }
}

@media only screen and (min-width: 1158px) {
  .page-navigation {
    display: flex;
    align-items: center;
    margin-right: 332px;
  }
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.mobile-menu-btn {
  position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .mobile-menu-btn {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}
.header-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio {
  color: #404bbf;
}

.header-link.nav-studio::after {
  content: "";
  border-radius: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.nav-item {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-item .header-link:hover {
  color: #404bbf;
}

.nav-item .header-link:focus {
  color: #404bbf;
}

.nav-item .header-link:active {
  color: #4d5ae5;
}

.address {
  font-style: normal;
}

.address-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .address-list {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.address-link {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-link:hover {
  color: #404bbf;
}

.address .address-link:focus,
.address .address-link:active {
  background-color: #404bbf;
}

.head-section {
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background/background-phone@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2e2f42;
}

@media (min-resolution: 192dpi) {
  .head-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/background-phone@2x.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .head-section {
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/background-tab@1x.jpg");
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .head-section {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/background-tab@2x.jpg");
  }
}

@media only screen and (min-width: 1158px) {
  .head-section {
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/background-desk@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    background-color: #2e2f42;
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .head-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/background-desk@2x.jpg");
  }
}

.headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-section .btn:hover {
  background-color: #404bbf;
}

.head-section .btn:focus {
  background-color: #404bbf;
}

/* Main topics section */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.benefits-section-container {
  display: flex;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .benefits-section-container {
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-section-container {
  }
}

.benefit-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .benefit-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .benefit-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.benefit-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .benefit-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .benefit-item {
    width: calc((100% - 72px) / 4);
  }
}

.container-icon {
  display: flex;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  max-width: 264px;
  text-align: center;
  padding: 24px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  height: 112px;
}
@media only screen and (min-width: px) {
  .container-icon {
  }
}
@media only screen and (max-width: 1157px) {
  .container-icon {
    display: none;
  }
}

.benefit-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .benefit-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .benefit-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: block;
    margin-bottom: 8px;
  }
}

.benefit-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
}

@media only screen and (min-width: 1158px) {
  .benefit-text {
    font-weight: 400;
    display: block;
  }
}

/* -------Our Team-------- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .team-title {
  }
}

@media only screen and (min-width: 1158px) {
  .team-title {
    font-weight: 500;
  }
}

.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  padding: 0 12px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% + 24px * 3) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% + 24px * 2) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% + 24px * 3) / 4);
  }
}

/* .team-img {
  align-items: center;
} */

.team-user {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .team-subtitle {
  }
}

@media only screen and (min-width: 1158px) {
  .team-subtitle {
    margin-bottom: 8px;
  }
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-list-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .social-list-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
.social-list-team {
    display: flex;
    gap: 24px;
    margin: 0 16px;
    justify-content: center;
  }
}

.social-item-team {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.social-link-team {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 100px;
  padding: 8px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-team {
  fill: #f4f4fd;
}

.social-item-team:hover .team-link {
  background-color: #404bbf;
}

.social-item-team:focus .team-link {
  background-color: #404bbf;
}

.social-link-team:focus {
  background-color: #404bbf;
}

/* Portfolio */

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .portfolio-title {
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-title {
    text-align: center;
    margin-bottom: 72px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-item {
  background: #fff;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-list:hover .portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-text-hidden {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.portfolio-item:hover .portfolio-text-hidden {
  transform: translateY(0);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);}

.portfolio-holder {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  text-align: left;
  padding-top: 32px;
}

.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 15px;
  }
}

.container-logo {
  margin-bottom: 72px;
  margin-left: 16px;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .container-logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 24px;
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .container-logo {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1158px) {
  .logo-footer {
    text-decoration: none;
    display: inline-block;
  }
}

.logo-second-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.promo-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

@media only screen and (min-width: 768px) {
  .promo-text-footer {
    text-align: left;
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
  .social-container {
    margin-bottom: 0;
  }
}

.footer-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  white-space: nowrap;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 100px;
  padding: 8px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .footer-social-link:hover,
.footer-social-list .footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

/* Subscribe */

.form-container {
  display: block;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  align-items: center;
}

.subscribe-paragraph {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .subscribe-paragraph {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 453px;
    width: 100%;
  }
}

@media only screen and (min-width: 1158px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 453px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: left;
    margin-bottom: 0;
  }
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1158px) {
  .footer-form-input {
    margin-bottom: 0;
    padding-left: 16px;
  }
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 165px;
}

.footer-icon-send {
  margin-left: 16px;
  fill: #fff;
}
/* Modal form */
.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}*/

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 683px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.modal-btn {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  border: none;
  background-color: #404bbf;
}

.modal-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-btn-icon {
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-caption {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-box {
  position: relative;
}

.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-field {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-text-field {
  margin-bottom: 16px;
}

.modal-form-message {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: #4d5ae5;
}

.modal-form-wrapper {
  margin-bottom: 24px;
}

input[type="checkbox"]:checked + .modal-form-agreement .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-agreement {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.agreement-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-agreement {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  border-radius: 4px;
}

/* Mobile menu */
.mobile-menu {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 72px 24px 40px 16px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: transform 300ms ease-out;
}
.mobile-menu.is-open {
 transform: translateX(0);
  transition-timing-function: ease-in;
}
.mobile-menu.is-open .menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.mobile-menu-icon {
  position: absolute;
  fill: #2e2f42;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-item {
}

.mobile-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-menu-link-current {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #404bbf;
}

.mobile--menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-contacts-link-current {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-menu-contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contatcs-link.accent {
  color: #4d5ae5;
}

.mobile-menu-socials {
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;